{% extends "base.html" %}

{% block content %}


<div class="container h-100" style="padding-top:25px;padding-bottom:75px">
  <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <font color="black" face="comic sans ms" size="5"> Status </font>
      </li>
    </ul>
  </nav>
</div>
<section name="status">
<div class="container h-100" style="padding-top:25px;padding-bottom:50px">
  <nav aria-label="breadcrumb " style="padding-top:100px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home </li>
                </ol>
  </nav>
    <form id="form" method="POST" action="{% url 'update-status:update_status' %}">
      {% csrf_token %}
      {{ update_status.as_p }}
      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
    </form>
</div>
</section>

<section name="my-status" id="my-status">
   <div class="container h-100" style="padding-top:25px;padding-bottom:50px">
        <nav aria-label="breadcrumb " style="padding-top:100px">
                 <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"> Recent Status </li>
                    </ol>
        </nav>
            {% for status in status_list %}
                <div class="container-item">
                    <div class="status-list">
                        <div class="status-list-description">
                            <p class="card-text">{{status.description}}</p>
                        </div>
                        <div class="status-list-date-added">
                            {{status.created_date}}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</section>

{% endblock %}
