{% extends "base.html" %}
{% block content %}
<section name="form">
    <div class="container h-100" style="padding-top: 25px; padding-bottom:50px">
      <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <font color="black" face="comic sans ms" size="5"> Add Friend </font>
          </li>
        </ul>
      </nav>
        <form id="form" method="POST" action="{% url 'add-friend:add_friend' %}">
            {% csrf_token %}
            {{ friend_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add Friend" style="margin-top:30px">
            <br>
        </form>
    </div>
</section>

<section name="list">
        <nav aria-label="breadcrumb " style="padding-top:100px">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                      <font color= "black" size="5"> List Friends </font>
                    </li>
                    </ol>
        </nav>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> URL </th>
                    <th> Added Time </th>
                </tr>
            </thead>
                <tbody>

                    {% for i in friend %}
                    <tr class="success">
                        <td> {{i.Name}} </td>
                        <td> <a href="{{i.URL}}">{{i.URL}}</a> </td>
                        <td> {{i.created_date}} </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
    </div>
</section>

{% endblock %}
