{% extends "base.html" %}
{% block content %}
<div class="container h-100" style="padding-top: 25px; padding-bottom:50px">
  <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <font color="black" face="comic sans ms" size="5"> Profile </font>
      </li>
    </ul>
  </nav>
<!--  <div class="float-right" style="margin-top: 10px;">
    <a href="/editprofile/" class="btn btn-info" role="button"><font color="white"> Edit Profile </font></a>
  </div> -->
  <div class="row justify-content-center" style="margin-top: 50px; margin-bottom: 10px;">
    <div class="col-12 text-center">
      <img src="../../static/kucing.jpg" class="rounded-circle" width="200" height="200">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h2> {{name}} </h2>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 30px;">
    <div class="col-1">
    </div>
    <div class="col-2">
      <span class="lead"> Birthday </span>
    </div>
    <div class="col-6"> {{birthday}}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 10px;">
    <div class="col-1">
    </div>
    <div class="col-2">
      <span class="lead"> Gender </span>
    </div>
    <div class="col-6"> {{gender}}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 10px;">
    <div class="col-1">
    </div>
    <div class="col-2">
      <span class="lead"> Expertise </span>
    </div>
    <div class="col-6">
      <span class="badge badge-pill badge-secondary"> {{expertise1}} </span>
      <span class="badge badge-pill badge-secondary"> {{expertise2}} </span>
      <span class="badge badge-pill badge-secondary"> {{expertise3}} </span>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 10px;">
    <div class="col-1">
    </div>
    <div class="col-2">
      <span class="lead"> Email </span>
    </div>
    <div class="col-6"> {{email}}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 10px;margin-bottom:40px;">
    <div class="col-1">
    </div>
    <div class="col-2">
      <span class="lead"> Description </span>
    </div>
    <div class="col-6"> {{description}}
    </div>
  </div>
</div>
{% endblock %}
