{% extends "base.html" %}

{% block content %}
<head>
  <title>Statistic</title>
</head>
<body>
  <div class="container h-100" style="padding-top: 25px; padding-bottom:50px">
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <font color="black" face="comic sans ms" size="5"> Statistics </font>
        </li>
      </ul>
    </nav>
    <div class="row justify-content-center" style="margin-top: 50px; margin-bottom: 10px;">
        <div class="col-sm-12 text-center">
          <img src="../../static/kucing.jpg" class="rounded-circle" width="200" height="200">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
          <h2> {{name}} </h2>
        </div>
      </div>
  	<div class="row justify-content-left">
        <div class="col-sm-6 text-left">
          <h2> Friends : {{friends}} People</h2>
  	  </div>
  	  <div class="col-sm-6 text-center">
  		<h2> Feed : {{feed}} Post</h2>
  	  </div>
  	</div>
  	<div class="row" style="margin-top:10px; margin-left:15px">
  		<h4>Latest Post :</h4>
  	</div>
  	<div class="row" style="margin-top:10px; margin-left:15px">
  		<h6>{{name}}</h6>
  	</div>
  	<div class="row" style="margin-top:5px; margin-left:15px">
  		<p class="mb-0">{{latestpost.description}}</p>
  	</div>
  	<div class="row" style="margin-top:5px; margin-left:15px">
  	    <p class="mb-0">{{latestpost.created_date}}</p>
  	</div>
  </div>
</body>
{% endblock %}
